[submodule "engine/external/glfw"]
	path = engine/external/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "engine/external/imgui"]
	path = engine/external/imgui
	url = https://github.com/mrcoalp/imgui.git
	branch = docking
[submodule "engine/external/freetype"]
	path = engine/external/freetype
	url = https://github.com/freetype/freetype2
	branch = VER-2-10-2
[submodule "engine/external/openal-soft"]
	path = engine/external/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "engine/external/moon"]
	path = engine/external/moon
	url = https://github.com/mrcoalp/moon.git
